<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Dependency-Injection-Using-Compound-Property/src/main/java/com/program/spring/test/SetterBasedObjectDI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.program.spring.test.SetterBasedObjectDI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Dependency-Injection-Using-Compound-Property"/>
</launchConfiguration>
